scipy==1.5.0
numpy==1.22.0
streamlit_aggrid==0.1.9
plotly==4.12.0
streamlit==1.11.1
pandas==1.0.5
bokeh==2.2.3
streamlit_ace==0.0.4
altair==4.1.0
matplotlib==3.2.2
streamlit_analytics==0.2.1
beautifulsoup4==4.9.3
scikit_learn==0.24.1
